@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    text-align: center;
    align-items: center;
	background: url(../../assets/pics/sky.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
	padding-top: 2rem;
}

nav {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding-left:  10vw;
	padding-right: 10vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
	color: #222;
}

.button {
	margin: 0 100px;
    min-width:  60px;
    min-height: 60px;
    font-size: 2rem;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 1px;
}
  
button::before {
    content: '';
    border-radius: 1000px;
    min-width: 70px;
    min-height: 70px;
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
  
.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}
  
button:hover::before, button:focus::before {
    opacity: 1;
}
  
button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}
  
button:hover::after, button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 10px;
        height: 10px;
        opacity: 1;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

.landscape {
	margin: 2.5vh auto;
	height: 90vh;
	width: 95vw;
}

.landscape iframe {
	height: 90%;
	width: 98%;
}